:root {
    --dark: #1B1B1B;
    --light: #FFFFFF;
    --sidebar-border: #292929;
}

.min-h-screen {
    padding-left: 280px;
}

main {
    width: 100%;
    max-width: calc(100vw - 280px);
}

.task-list {
    background-color: var(--light);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-blue-600 {
    background-color: var(--dark);
}

.task-items {
    min-height: 200px;
}

#addTaskForm {
    background-color: var(--light);
}

.table-auto {
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .min-h-screen {
        padding-left: 0; /* La sidebar disparaît */
    }

    main {
        max-width: 100%; /* Le contenu principal occupe toute la largeur */
        padding: 0 16px; /* Ajouter un peu de padding pour un espacement */
    }

    .task-list {
        width: 100%; /* Les tâches prennent toute la largeur */
        margin: 0 auto; /* Centrer si nécessaire */
    }

    .task-item {
        display: block; /* Permet d'afficher les éléments en bloc */
        width: 100%; /* S'assurer qu'ils s'étendent */
        padding: 8px 0; /* Espacement entre les éléments */
    }

    .task-description {
        margin-left: 0; /* Éliminer les marges inutiles */
    }
}
